
    body{background-color: #EEEEEE}a{text-decoration: none !important}.card-product-list, .card-product-grid{margin-bottom: 0}
    .card{width: 600px;position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 23px;margin-top: 10px}
    .card-product-grid:hover{-webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);-webkit-transition: .3s;transition: .3s}.card-product-grid .img-wrap{border-radius: 0.2rem 0.2rem 0 0;height: 450px}.card .img-wrap{overflow: hidden}.card-lg .img-wrap{height: 280px}.card-product-grid .img-wrap{border-radius: 0.2rem 0.2rem 0 0;height: 275px;padding: 16px}[class*='card-product']
    .img-wrap img{height: 100%;max-width: 100%;width: auto;display: inline-block;-o-object-fit: cover;object-fit: cover}
    .img-wrap{text-align: center;display: block}.card-product-grid .info-wrap{overflow: hidden;padding: 18px 20px}[class*='card-product'] a.title{color: #212529;display: block}.card-product-grid .bottom-wrap{padding: 20px;border-top: 1px solid #e4e4e4}.bottom-wrap-payment{padding: 0px;border-top: 1px solid #e4e4e4}.rated{font-size: 16px;color: #000000}.btn{display: inline-block;font-weight: 600;color: #343a40;text-align: center;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-color: transparent;border: 1px solid transparent;padding: 0.45rem 0.85rem;font-size: 1rem;line-height: 1.5;border-radius: 0.2rem}
    .btn-primary{color: #fff;background-color: #3167eb;border-color: #3167eb}.fa{color: #FF5722}

 div.sticky {
    position: absolute;
    right:10px;
    top: 50px;
 }
 
table {
	width:300px;
}

 th {
	background-color: #04AA6D;
	color: white;
  }

  th, td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;

  }

  tr:nth-child(even) {background-color: #f2f2f2;}

 .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

 .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 40px;
	padding-bottom: 40px;
}

 .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

 .summary .text{
	font-size: 1em;
	font-weight: 600;
}

 .summary .price{
	font-size: 1em;
	float: right;
}

 .summary button{
	margin-top: 20px;
}